
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightblue;
}

h1.ui.header {
    font-size: 3.5rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgreen;
}

/* Authorization Form */

form.loginForm.ui.card {
    margin: 100px auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form.loginForm h2 {
    font-size: 2rem;
}

form.loginForm input {
    margin: 10px 0;
}